@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  padding: 0 48px;
  margin: 0 auto;
}
@media (max-width: 768.98px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 479.98px) {
  .container {
    padding: 0 28px;
  }
}
@media (max-width: 374.98px) {
  .container {
    padding: 0 18px;
  }
}

.shipping {
  height: 40px;
  width: 100%;
  background: #F0EEDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shipping__title {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #670A18;
}

.menu {
  height: 82px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__body {
  padding: 25px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 600px) {
  .menu__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.menu__left {
  justify-items: left;
}
.menu__item {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #35312E;
  padding: 0 0 0 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu__item:first-child {
  padding: 0;
}
.menu__item:hover {
  color: #d44c1f;
}
.menu__shop {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #F5F1E9;
  padding: 12px 15px;
  border-radius: 50%;
  background-color: #C87B5E;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu__shop:hover {
  background: #d44c1f;
}

.menu__shop_body {
  display: inline;
  padding: 0 0 0 15px;
}

.skillet {
  background-image: url(/img/bg-up.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media (max-width: 1339.98px) {
  .skillet {
    background-position: center;
  }
}
@media (max-width: 768.98px) {
  .skillet {
    background-position: 30% 80%;
  }
}
.skillet__body {
  margin: 0 0 0 25%;
}
@media (max-width: 1500px) {
  .skillet__body {
    margin: 0 0 0 20%;
  }
}
@media (max-width: 991.98px) {
  .skillet__body {
    margin: 0 0 0 15%;
  }
}
@media (max-width: 768.98px) {
  .skillet__body {
    margin: 0;
  }
}
.skillet__sub-title {
  padding: 15% 0 10px 0;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #35312E;
}
@media (max-width: 768.98px) {
  .skillet__sub-title {
    padding: 150px 0 10px 0;
    text-align: center;
  }
}
@media (max-width: 479.98px) {
  .skillet__sub-title {
    padding: 130px 0 30px 0;
    text-align: center;
  }
}
.skillet__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 52px;
  letter-spacing: 1px;
  color: #35312E;
}
@media (max-width: 768.98px) {
  .skillet__title {
    text-align: center;
  }
}
.skillet__btc-body {
  padding: 58px 0 170px 0;
}
@media (max-width: 768.98px) {
  .skillet__btc-body {
    padding: 20px 0 150px 0;
    text-align: center;
  }
}
@media (max-width: 479.98px) {
  .skillet__btc-body {
    padding: 50px 0 120px 0;
    text-align: center;
  }
}
.skillet__btc {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 20px 30px;
  background: #D37657;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skillet__btc:hover {
  background: #d44c1f;
  border-radius: 15px;
}

span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.traditional {
  background-color: #F5F1E9;
  padding: 45px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.traditional__title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #35312E;
}
@media (max-width: 768.98px) {
  .traditional__title {
    padding: 0 0 20px 0;
  }
}
.traditional__list_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1140px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .traditional__list_body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.traditional__list_item {
  padding: 40px 30px 0 30px;
}
@media (max-width: 900px) {
  .traditional__list_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.welcome {
  background-color: #FCFAF6;
  padding: 120px 0;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 768.98px) {
  .welcome {
    padding: 74px 0;
  }
}
.welcome__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1185px;
  margin: 0 auto;
}
@media (max-width: 768.98px) {
  .welcome__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.welcome__title {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10% 0 0;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 41px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 1.25px;
  color: #35312E;
}
@media (max-width: 768.98px) {
  .welcome__title {
    padding: 0;
  }
}
.welcome__text {
  max-width: 650px;
  margin: 0 auto;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 26px;
  color: #4F463F;
}
@media (max-width: 768.98px) {
  .welcome__text {
    padding: 40px 0 0 0;
    text-align: center;
  }
}

.designed {
  background-color: #FBF6EA;
  padding: 74px 0 140px 0;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 768.98px) {
  .designed {
    padding: 74px 0 74px 0;
  }
}
.designed__title {
  font-family: "Roboto";
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #35312E;
}
.designed__colors {
  padding: 52px 0 45px 0;
  max-width: 345px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.designed__colors_orange {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E09D81;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_orange:focus {
  border: 4px solid #B76D47;
}
.designed__colors_blue {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #748EA1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_blue:focus {
  border: 4px solid #E09D81;
}
.designed__colors_brown {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #B76D47;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_brown:focus {
  border: 4px solid #E09D81;
}
.designed__colors_green {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7D836E;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_green:focus {
  border: 4px solid #E09D81;
}
.designed__colors_red {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #C33636;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_red:focus {
  border: 4px solid #E09D81;
}
.designed__colors_wheat {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #CDC7B3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_wheat:focus {
  border: 4px solid #E09D81;
}
.designed__colors_dark-green {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #595752;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_dark-green:focus {
  border: 4px solid #E09D81;
}
.designed__colors_orchid {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #D3C2CA;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_orchid:focus {
  border: 4px solid #E09D81;
}
.designed__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.designed__image_img {
  width: 50%;
}
@media (max-width: 768.98px) {
  .designed__image_img {
    width: 65%;
  }
}
@media (max-width: 479.98px) {
  .designed__image_img {
    width: 100%;
    margin: 0 0 0 15%;
  }
}
.designed__image_img-blue {
  display: none;
}
.designed__image_description-l {
  width: 33%;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #6E6259;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 768.98px) {
  .designed__image_description-l {
    width: 25%;
  }
}
@media (max-width: 768.98px) and (max-width: 479.98px) {
  .designed__image_description-l {
    display: none;
  }
}
.designed__image_description-l :first-child {
  padding: 15% 0 70% 0;
  width: 134px;
  margin: 0 -35px 0 0;
}
@media (max-width: 768.98px) {
  .designed__image_description-l :first-child {
    padding: 15% 0 100% 0;
  }
}
.designed__image_description-l :nth-child(2) {
  width: 107px;
  margin: 0 -25px 0 0;
}
.designed__image_description-l :nth-child(3) {
  padding: 20% 0 0 0;
  width: 172px;
  margin: 0 -15px 0 0;
}
@media (max-width: 768.98px) {
  .designed__image_description-l :nth-child(3) {
    padding: 100% 0 0 0;
    margin: 0 -40px 0 0;
  }
}
.designed__image_description-r {
  width: 17%;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #6E6259;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991.98px) {
  .designed__image_description-r {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 768.98px) {
  .designed__image_description-r {
    width: 10%;
  }
}
@media (max-width: 479.98px) {
  .designed__image_description-r {
    display: none;
  }
}
.designed__image_description-r :first-child {
  padding: 15% 0 100% 0;
  width: 158px;
  margin: 0 0 0 -150px;
}
@media (max-width: 768.98px) {
  .designed__image_description-r :first-child {
    padding: 15% 0 250% 0;
  }
}
.designed__image_description-r :nth-child(2) {
  width: 171px;
  margin: 0 0 0 -175px;
}
@media (max-width: 768.98px) {
  .designed__image_description-r :nth-child(2) {
    margin: 0 0 0 -125px;
  }
}
.designed__image_description-r :nth-child(3) {
  padding: 100% 0 0 0;
  width: 160px;
  margin: 0 0 0 -105px;
}
@media (max-width: 768.98px) {
  .designed__image_description-r :nth-child(3) {
    padding: 270% 0 0 0;
  }
}