@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@media (min-width: 651px) {
  .menu-b {
    display: none;
  }
}

.button span {
  display: block;
  width: 25px;
  height: 25px;
  background: #670A18;
  border-radius: 50%;
}

#sidebar.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-sl {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(38, 75, 16, 0.9);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 50px;
  line-height: 46px;
}

.ii {
  padding: 30px 0;
  color: #f8f8f8;
}

.container {
  max-width: 1440px;
  padding: 0 48px;
  margin: 0 auto;
}
@media (max-width: 768.98px) {
  .container {
    padding: 0 20px;
  }
}

.shipping {
  height: 40px;
  width: 100%;
  background: #F0EEDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shipping__title {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #670A18;
}

.menu {
  height: 82px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__body {
  padding: 25px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 600px) {
  .menu__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.menu__left {
  justify-items: left;
}
@media (max-width: 650px) {
  .menu__left {
    display: none;
  }
}
.menu__item {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #35312E;
  padding: 0 0 0 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu__item:first-child {
  padding: 0;
}
.menu__item:hover {
  color: #d44c1f;
}
.menu__shop {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #F5F1E9;
  padding: 12px 15px;
  border-radius: 50%;
  background-color: #C87B5E;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu__shop:hover {
  background: #d44c1f;
}

.menu__shop_body {
  display: inline;
  padding: 0 0 0 15px;
}

.skillet {
  background-image: url(/img/bg-up.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media (max-width: 1339.98px) {
  .skillet {
    background-position: center;
  }
}
@media (max-width: 768.98px) {
  .skillet {
    background-position: 30% 80%;
  }
}
.skillet__body {
  margin: 0 0 0 25%;
}
@media (max-width: 1500px) {
  .skillet__body {
    margin: 0 0 0 20%;
  }
}
@media (max-width: 991.98px) {
  .skillet__body {
    margin: 0 0 0 15%;
  }
}
@media (max-width: 768.98px) {
  .skillet__body {
    margin: 0;
  }
}
.skillet__sub-title {
  padding: 15% 0 10px 0;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #35312E;
}
@media (max-width: 768.98px) {
  .skillet__sub-title {
    padding: 150px 0 10px 0;
    text-align: center;
  }
}
@media (max-width: 479.98px) {
  .skillet__sub-title {
    padding: 130px 0 30px 0;
    text-align: center;
  }
}
.skillet__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 52px;
  letter-spacing: 1px;
  color: #35312E;
}
.skillet__title span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
@media (max-width: 768.98px) {
  .skillet__title {
    text-align: center;
  }
}
.skillet__btc-body {
  padding: 58px 0 170px 0;
}
@media (max-width: 768.98px) {
  .skillet__btc-body {
    padding: 20px 0 150px 0;
    text-align: center;
  }
}
@media (max-width: 479.98px) {
  .skillet__btc-body {
    padding: 50px 0 120px 0;
    text-align: center;
  }
}
.skillet__btc {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 20px 30px;
  background: #D37657;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.skillet__btc:hover {
  background: #d44c1f;
  border-radius: 8px;
}

.traditional {
  background-color: #F5F1E9;
  padding: 45px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.traditional__title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #35312E;
}
@media (max-width: 768.98px) {
  .traditional__title {
    padding: 0 0 20px 0;
  }
}
.traditional__list_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 1140px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .traditional__list_body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.traditional__list_item {
  padding: 40px 30px 0 30px;
}
@media (max-width: 900px) {
  .traditional__list_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.welcome {
  background-color: #FCFAF6;
  padding: 120px 0;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 768.98px) {
  .welcome {
    padding: 74px 0;
  }
}
.welcome__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1185px;
  margin: 0 auto;
}
@media (max-width: 768.98px) {
  .welcome__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.welcome__title {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10% 0 0;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 41px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 1.25px;
  color: #35312E;
}
@media (max-width: 768.98px) {
  .welcome__title {
    padding: 0;
  }
}
.welcome__text {
  max-width: 650px;
  margin: 0 auto;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 26px;
  color: #4F463F;
}
@media (max-width: 768.98px) {
  .welcome__text {
    padding: 40px 0 0 0;
    text-align: center;
  }
}

.designed {
  background-color: #FBF6EA;
  padding: 74px 0 140px 0;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 768.98px) {
  .designed {
    padding: 74px 0 74px 0;
  }
}
.designed__title {
  font-family: "Roboto";
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #35312E;
}
.designed__colors {
  padding: 52px 0 45px 0;
  max-width: 345px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.designed__colors_orange {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E09D81;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_orange:focus {
  border: 4px solid #B76D47;
}
.designed__colors_blue {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #748EA1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_blue:focus {
  border: 4px solid #E09D81;
}
.designed__colors_brown {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #B76D47;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_brown:focus {
  border: 4px solid #E09D81;
}
.designed__colors_green {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7D836E;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_green:focus {
  border: 4px solid #E09D81;
}
.designed__colors_red {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #C33636;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_red:focus {
  border: 4px solid #E09D81;
}
.designed__colors_wheat {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #CDC7B3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_wheat:focus {
  border: 4px solid #E09D81;
}
.designed__colors_dark-green {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #595752;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_dark-green:focus {
  border: 4px solid #E09D81;
}
.designed__colors_orchid {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #D3C2CA;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.designed__colors_orchid:focus {
  border: 4px solid #E09D81;
}
.designed__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.designed__image_img {
  width: 50%;
}
@media (max-width: 768.98px) {
  .designed__image_img {
    width: 65%;
  }
}
@media (max-width: 479.98px) {
  .designed__image_img {
    width: 100%;
  }
}
.designed__image_img-blue {
  display: none;
}
.designed__image_description-l {
  width: 33%;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #6E6259;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (max-width: 768.98px) {
  .designed__image_description-l {
    width: 25%;
  }
}
@media (max-width: 768.98px) and (max-width: 479.98px) {
  .designed__image_description-l {
    display: none;
  }
}
.designed__image_description-l :first-child {
  padding: 15% 0 70% 0;
  width: 134px;
  margin: 0 -35px 0 0;
}
@media (max-width: 768.98px) {
  .designed__image_description-l :first-child {
    padding: 15% 0 100% 0;
  }
}
.designed__image_description-l :nth-child(2) {
  width: 107px;
  margin: 0 -25px 0 0;
}
.designed__image_description-l :nth-child(3) {
  padding: 20% 0 0 0;
  width: 172px;
  margin: 0 -15px 0 0;
}
@media (max-width: 768.98px) {
  .designed__image_description-l :nth-child(3) {
    padding: 100% 0 0 0;
    margin: 0 -40px 0 0;
  }
}
.designed__image_description-r {
  width: 17%;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #6E6259;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 991.98px) {
  .designed__image_description-r {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 768.98px) {
  .designed__image_description-r {
    width: 10%;
  }
}
@media (max-width: 479.98px) {
  .designed__image_description-r {
    display: none;
  }
}
.designed__image_description-r :first-child {
  padding: 15% 0 100% 0;
  width: 158px;
  margin: 0 0 0 -150px;
}
@media (max-width: 768.98px) {
  .designed__image_description-r :first-child {
    padding: 15% 0 250% 0;
  }
}
.designed__image_description-r :nth-child(2) {
  width: 171px;
  margin: 0 0 0 -175px;
}
@media (max-width: 768.98px) {
  .designed__image_description-r :nth-child(2) {
    margin: 0 0 0 -125px;
  }
}
.designed__image_description-r :nth-child(3) {
  padding: 100% 0 0 0;
  width: 160px;
  margin: 0 0 0 -105px;
}
@media (max-width: 768.98px) {
  .designed__image_description-r :nth-child(3) {
    padding: 270% 0 0 0;
  }
}

.dishes {
  background-color: #FCFAF6;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0 80px 0;
}
.dishes__title {
  max-width: 477px;
  margin: 0 auto;
  padding: 75px 0 18px 0;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 33px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #35312E;
}
@media (max-width: 479.98px) {
  .dishes__title {
    font-size: 28px;
    line-height: 35px;
  }
}
.dishes__sub-title {
  max-width: 441px;
  margin: 0 auto;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #4F463F;
}
.dishes__item-body {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 479.98px) {
  .dishes__item-body {
    padding: 0px 0 50px 0;
  }
}
.dishes__item {
  width: 286px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dishes__item_text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 480px;
}
.dishes__item_img-bg {
  width: 250px;
  height: 120px;
  border-radius: 50%;
  background-color: #cdc7b3b0;
  margin: -120px 0 0 0;
}
.dishes__item_title {
  padding: 30px 0 5px 0;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #35312E;
}
.dishes__item_price {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #6E635A;
}
.dishes__item_sub-title {
  width: 175px;
  padding: 7px 0 0px 0;
  font-family: "Roboto";
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #6E635A;
}
.dishes__item_colors-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dishes__item_color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.colors-body-1 {
  width: 100px;
}
.colors-body-1_color1 {
  background: #E09D81;
}
.colors-body-1_color1:focus {
  border: 4px solid #B76D47;
}
.colors-body-1_color2 {
  background: #CDC7B3;
}
.colors-body-1_color2:focus {
  border: 4px solid #B76D47;
}
.colors-body-1_color3 {
  background: #595752;
}
.colors-body-1_color3:focus {
  border: 4px solid #B76D47;
}

.colors-body-2 {
  width: 180px;
}
.colors-body-2_color1 {
  background: #CCBD9E;
}
.colors-body-2_color1:focus {
  border: 4px solid #6E6259;
}
.colors-body-2_color2 {
  background: #B55900;
}
.colors-body-2_color2:focus {
  border: 4px solid #CCBD9E;
}
.colors-body-2_color3 {
  background: #5B653B;
}
.colors-body-2_color3:focus {
  border: 4px solid #CCBD9E;
}
.colors-body-2_color4 {
  background: #C33636;
}
.colors-body-2_color4:focus {
  border: 4px solid #6E6259;
}
.colors-body-2_color5 {
  background: #D3C2CA;
}
.colors-body-2_color5:focus {
  border: 4px solid #6E6259;
}

.colors-body-3 {
  width: 100px;
}
.colors-body-3_color1 {
  background: #E09D81;
}
.colors-body-3_color1:focus {
  border: 4px solid #B76D47;
}
.colors-body-3_color2 {
  background: #CDC7B3;
}
.colors-body-3_color2:focus {
  border: 4px solid #B76D47;
}
.colors-body-3_color3 {
  background: #595752;
}
.colors-body-3_color3:focus {
  border: 4px solid #B76D47;
}

.colors-body-4 {
  width: 220px;
}
.colors-body-4_color1 {
  background: #748EA1;
}
.colors-body-4_color1:focus {
  border: 4px solid #6E6259;
}
.colors-body-4_color2 {
  background: #7D836E;
}
.colors-body-4_color2:focus {
  border: 4px solid #CCBD9E;
}
.colors-body-4_color3 {
  background: #C33636;
}
.colors-body-4_color3:focus {
  border: 4px solid #CCBD9E;
}
.colors-body-4_color4 {
  background: #CDC7B3;
}
.colors-body-4_color4:focus {
  border: 4px solid #6E6259;
}
.colors-body-4_color5 {
  background: #595752;
}
.colors-body-4_color5:focus {
  border: 4px solid #6E6259;
}
.colors-body-4_color6 {
  background: #D3C2CA;
}
.colors-body-4_color6:focus {
  border: 4px solid #6E6259;
}

.dirtydishes {
  background-color: #F5F1E9;
  max-width: 1440px;
  margin: 0 auto;
}
.dirtydishes__body {
  margin: 0 -48px 0 -48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768.98px) {
  .dirtydishes__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -20px;
  }
}
.dirtydishes__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  width: 33.333%;
  height: 33.333%;
}
@media (max-width: 768.98px) {
  .dirtydishes__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    width: 50%;
    height: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.dirtydishes__text-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  .dirtydishes__text-block {
    padding: 20px 20px;
  }
}
@media (max-width: 768.98px) {
  .dirtydishes__text-block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    height: 300px;
    padding: 50px 20px;
  }
}
.dirtydishes__text-block_tag {
  font-family: "Roboto";
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #35312E;
}
.dirtydishes__text-block_title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 24px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 1px;
  color: #35312E;
}
@media (max-width: 991.98px) {
  .dirtydishes__text-block_title {
    font-size: 18px;
    line-height: 26px;
  }
}
.dirtydishes__text-block_btc {
  display: inline;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.dirtydishes__text-block_btc a {
  display: inline-block;
  padding: 20px 40px;
  border: 1px solid #AAA098;
  border-radius: 4px;
  background: #FFFFFF;
  text-decoration: none;
  color: #4F463F;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.dirtydishes__text-block_btc a:hover {
  background: #B55900;
  color: #fff;
  border-radius: 8px;
}

.contakt {
  background-color: #6C674D;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 0;
}
@media (max-width: 650px) {
  .contakt {
    padding: 50px 0;
  }
}
.contakt__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768.98px) {
  .contakt__body {
    margin: 0 -10px;
  }
}
@media (max-width: 650px) {
  .contakt__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contakt__form {
  width: 45%;
}
@media (max-width: 768.98px) {
  .contakt__form {
    width: 35%;
  }
}
@media (max-width: 650px) {
  .contakt__form {
    width: 100%;
  }
}
.contakt__form_title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 0.7px;
  color: #F5F1E9;
}
@media (max-width: 650px) {
  .contakt__form_title {
    text-align: center;
  }
}
.contakt__form_text {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 24px;
  color: #FCFAF6;
  padding: 30px 0 60px 0;
}
@media (max-width: 650px) {
  .contakt__form_text {
    text-align: center;
    padding: 30px 10%;
  }
}
@media (max-width: 479.98px) {
  .contakt__form_text {
    padding: 30px 0;
  }
}
@media (max-width: 650px) {
  .contakt__form_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 50px 0;
  }
}
.contakt__form_input {
  width: 30vw;
  height: 60px;
  border-radius: 4px;
  padding: 0 0 0 20px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 13px;
  line-height: 58px;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 768.98px) {
  .contakt__form_input {
    width: 35vw;
  }
}
@media (max-width: 650px) {
  .contakt__form_input {
    width: 50vw;
  }
}
@media (max-width: 479.98px) {
  .contakt__form_input {
    width: 70vw;
  }
}
.contakt__form_btc {
  margin: 0 0 0 -80px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #4F463F;
  background: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contakt__form_btc:hover {
  color: #B55900;
}
@media (max-width: 768.98px) {
  .contakt__form_btc {
    margin: 0 0 0 -60px;
  }
}
.contakt__links {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991.98px) {
  .contakt__links {
    width: 50%;
  }
}
@media (max-width: 768.98px) {
  .contakt__links {
    width: 60%;
  }
}
@media (max-width: 650px) {
  .contakt__links {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 10%;
  }
}
@media (max-width: 479.98px) {
  .contakt__links {
    padding: 0;
  }
}
.contakt__link-colum_title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #F5F1E9;
}
.contakt__link-colum_text {
  display: block;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 31px;
  color: rgba(245, 241, 233, 0.6);
  padding: 9px 0 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contakt__link-colum_text:hover {
  color: #F5F1E9;
}
@media (max-width: 991.98px) {
  .contakt__link-colum_text {
    font-size: 14px;
  }
}
@media (max-width: 768.98px) {
  .contakt__link-colum_text {
    font-size: 12px;
  }
}

.copyright {
  background-color: #807C62;
  max-width: 1440px;
  margin: 0 auto;
}
.copyright__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 74px;
}
@media (max-width: 768.98px) {
  .copyright__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0;
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.copyright__name {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 27px;
  color: rgba(252, 250, 246, 0.5);
}
@media (max-width: 768.98px) {
  .copyright__name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 20px 0 0 0;
  }
}
@media (max-width: 768.98px) {
  .copyright__terms {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.copyright__terms_link {
  display: inline-block;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 27px;
  color: rgba(252, 250, 246, 0.5);
  padding: 0 30px 0 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.copyright__terms_link:hover {
  color: #F5F1E9;
}
.copyright__terms_link:last-child {
  padding: 3px 15px 0px;
  background: #fff;
  border-radius: 5px;
}