@import "null.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


//BURGER===============================

.button span{
	display: block;
	width: 25px;
	height: 4px;
	margin: 4px 0;
  z-index: 10;
}

#sidebar.active{
	right: -5px;
}

.menu-b{
	position: fixed;
	width: 450px;
	height: 100vh;
	background: rgba(233, 157, 58, 0.582);
	right: -450px;
}

.button{
	position: absolute;
	right: 460px;
	top: 0px;
	background: #000;
}

//BURGER===============================

.container {
    max-width: 1440px;
    padding: 0 48px;
    margin: 0 auto;
    @media(max-width:$breakpoints768){
      padding: 0 20px;  
    }
}


// Header
.shipping {
    height: 40px;
    width: 100%;
    background: #F0EEDD;
    display: flex;
    align-items: center;

    &__title {
        font-family:'Roboto';
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #670A18;
    }

// Menu Block    
}

.menu {
    height: 82px;
    align-items: center;
    

    &__body {
        padding: 25px 0;
        align-items: center;
        display: flex;
        justify-content: space-between;
        @media (max-width: 600px){
            flex-wrap: wrap;
        }
    }

    &__left {
        justify-items: left;
        @media(max-width:$breakpoints488){
          display: none;
        }
    }

    &__center {
    }

    &__item {
        font-family:'Roboto';
        font-weight: bold;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #35312E;
        padding: 0 0 0 35px;
        &:first-child{
            padding: 0;
        }
        transition: .5s;
        &:hover{
            color: #d44c1f;
        }
        

    }    
    
    &__shop {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        color: #F5F1E9;

        padding: 12px 15px;
        border-radius: 50%;
        background-color: #C87B5E;
        transition: .5s;
        &:hover{
            background: #d44c1f;  
            
        }
    }
}

.menu__shop_body{
    display: inline;
    padding: 0 0 0 15px;
}

// Skillet_block
.skillet {
    background-image: url(/img/bg-up.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    @media(max-width: $breakpoints1400){
        background-position: center;
    }
    @media(max-width: $breakpoints768){
        background-position: 30% 80%;
    }

    
    &__body {
        margin: 0 0 0 25%;
        @media(max-width: 1500px){
            margin: 0 0 0 20%;
        }
        @media(max-width: $breakpoints992){
            margin: 0 0 0 15%;
        }
        @media(max-width: $breakpoints768){
            margin: 0;
        }

    }

    &__sub-title {
        padding: 15% 0 10px 0 ;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 16px; 
        text-transform: uppercase;
        color: #35312E;
        @media(max-width: $breakpoints768){
            padding: 150px 0 10px 0;
            text-align: center;
        }
        @media(max-width: $breakpoints488){
            padding: 130px 0 30px 0;
            text-align: center;
        }
    }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 52px;
        letter-spacing: 1px;
        color: #35312E;
        & span {
          text-decoration-line: underline;
        }
        @media(max-width: $breakpoints768){
            text-align: center;
        }
    }

    &__btc-body{
        padding: 58px 0 170px 0;
        @media(max-width: $breakpoints768){
            padding: 20px 0 150px 0;
            text-align: center;
        }
        @media(max-width: $breakpoints488){
            padding: 50px 0 120px 0;
            text-align: center;
        }
        
    }

    &__btc {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #FFFFFF;
        display: inline-flex;
        padding: 20px 30px;
        background: #D37657;
        border-radius: 4px;
        transition: .5s;
        &:hover{
            background: #d44c1f;
            border-radius: 8px;
        }
        
    }
}


//Traditional
.traditional {
    background-color: #F5F1E9;
    padding: 45px 0;
    max-width: 1440px;
    margin: 0 auto;

    &__body {
        
    }

    &__title {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #35312E;
        @media(max-width: $breakpoints768){
            padding: 0 0 20px 0;
        }
    }

    &__list {

        &_body {
            display: flex;
            justify-content: space-evenly;
            max-width: 1140px;
            margin: 0 auto;
            @media(max-width:900px){
                flex-wrap: wrap;
            }
            
        }

        &_item {
            padding: 40px 30px 0 30px;
            @media(max-width:900px){
                flex-wrap: wrap;
            }
        }

        &_imaging {
        }
    }
}

//Welcome-block
.welcome {
    background-color: #FCFAF6;
    padding: 120px 0;
    max-width: 1440px;
    margin: 0 auto;
    @media(max-width:$breakpoints768){
        padding: 74px 0;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        max-width: 1185px;
        margin: 0 auto;
        @media(max-width:$breakpoints768){
            flex-direction: column;
        }

    }

    &__title {
        max-width: 400px;
        margin: 0 auto;
        padding: 0 10% 0 0;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 41px;
        line-height: 46px;
        text-align: center;
        letter-spacing: 1.25px;
        color: #35312E;
        @media(max-width:$breakpoints768){
            padding: 0;
        }
        
    }

    &__text {
        max-width: 650px;
        margin: 0 auto;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 26px;
        color: #4F463F;
        @media(max-width:$breakpoints768){
            padding: 40px 0 0 0;
            text-align: center;
        }
    }
}

//Designed-block
.designed {
    background-color: #FBF6EA;
    padding: 74px 0 140px 0;
    max-width: 1440px;
    margin: 0 auto;
    @media(max-width:$breakpoints768){
        padding: 74px 0 74px 0;
        
    }

    &__body {
      
    }

    &__title {
        font-family: 'Roboto';
        font-size: 35px;
        line-height: 48px;
        text-align: center;
        color: #35312E;
    }

    &__colors {
        padding: 52px 0 45px 0;
        max-width: 345px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &_orange {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #E09D81;
            transition: .2s;
            &:focus{
                border: 4px solid #B76D47 ;
            }
        }

        &_blue {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #748EA1;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
            
        }

        &_brown {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #B76D47;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
        }

        &_green {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #7D836E;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
        }

        &_red {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #C33636;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
        }

        &_wheat {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #CDC7B3;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
        }

        &_dark-green {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #595752;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
        }

        &_orchid {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #D3C2CA;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
        }
    }


//Skillet colors gallery
    &__image {
        display: flex;
        justify-content: center;
        

        &_img {
            width: 50%;
            @media(max-width:$breakpoints768){
              width: 65%;  
            }
            @media(max-width:$breakpoints488){
              width: 100%;
            }
        }

        &_img-orange {
            
        }
        &_img-blue {
          display: none;
        }

        
        &_description-l {
            width: 33%;
            font-family: 'Roboto';
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
            color: #6E6259;
            @media(max-width:$breakpoints768){
              width: 25%;  
              @media(max-width:$breakpoints488){
                display: none; 
              }
            }

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            :first-child{
              padding: 15% 0 70% 0;
              width: 134px;
              margin: 0 -35px 0 0;
              @media(max-width:$breakpoints768){
                padding: 15% 0 100% 0;
              }
            }
            :nth-child(2) {
              width: 107px; 
              margin: 0 -25px 0 0;
              
            }
            :nth-child(3) {
              padding: 20% 0 0 0;
              width: 172px; 
              margin: 0 -15px 0 0;
              @media(max-width:$breakpoints768){
                padding: 100% 0 0 0;
                margin: 0 -40px 0 0;
              }
            }
        }

        &_description-r {
            width: 17%;
            font-family: 'Roboto';
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
            color: #6E6259;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media(max-width:$breakpoints992){
              align-items: center;
            }
            @media(max-width:$breakpoints768){
              width: 10%;  
            }
            @media(max-width:$breakpoints488){
              display: none; 
            }
            

            :first-child{
              padding: 15% 0 100% 0;
              width: 158px;
              margin: 0 0 0 -150px;
              @media(max-width:$breakpoints768){
                padding: 15% 0 250% 0;
              }
            }
            :nth-child(2) {
              width: 171px; 
              margin: 0 0 0 -175px;
              @media(max-width:$breakpoints768){
                margin: 0 0 0 -125px;
              }
            }
            :nth-child(3) {
              padding: 100% 0 0 0;
              width: 160px; 
              margin: 0 0 0 -105px;
              @media(max-width:$breakpoints768){
                padding: 270% 0 0 0;
              }
            }
        }
    }
}

//Dishes-block
.dishes {
    background-color: #FCFAF6;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0 80px 0;
  

  &__body {
  }

  &__title {
    max-width: 477px;
    margin: 0 auto;
    padding: 75px 0 18px 0;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 33px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 1.2px;
    color: #35312E;
    @media(max-width:$breakpoints488){
      font-size: 28px;
      line-height: 35px;
    }
  }

  &__sub-title {
    max-width: 441px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #4F463F;
  }

  &__item-body {
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @media(max-width:$breakpoints488){
      padding: 0px 0 50px 0;
    }
  }

  &__item {
    width: 286px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &_text-block{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 480px;
    }

    &_img {
    }

    &_img-bg{
      width: 250px;
      height: 120px;
      border-radius: 50%;
      background-color: #cdc7b3b0;
      margin: -120px 0 0 0;
    }

    &_title {
      padding: 30px 0 5px 0;
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #35312E;
    }

    &_price {
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.1px;
      color: #6E635A;
    }

    &_sub-title {
      width: 175px;
      padding: 7px 0 0px 0;
      font-family: 'Roboto';
      font-size: 11px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #6E635A;
    }

    &_colors-body {
      display: flex;
      justify-content: space-between;
    }

    &_color {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}

//Dishes-block  -->  Items colors block
.colors-body-1{
  width: 100px;

  &_color1 {
    background: #E09D81;
    &:focus{
      border: 4px solid #B76D47 ;
  }
  }

  &_color2 {
    background: #CDC7B3;
    &:focus{
      border: 4px solid #B76D47 ;
  }
  }

  &_color3 {
    background: #595752;
    &:focus{
      border: 4px solid #B76D47 ;
  }
  }
}

.colors-body-2{
  width: 180px;

  &_color1 {
    background: #CCBD9E;
    &:focus{
      border: 4px solid #6E6259;
  }
  }

  &_color2 {
    background: #B55900;
    &:focus{
      border: 4px solid #CCBD9E;
  }
  }

  &_color3 {
    background: #5B653B;
    &:focus{
      border: 4px solid #CCBD9E;
  }
  }

  &_color4 {
    background: #C33636;
    &:focus{
      border: 4px solid #6E6259;
  }
  }

  &_color5 {
    background: #D3C2CA;
    &:focus{
      border: 4px solid #6E6259;
  }
  }
}

.colors-body-3{
  width: 100px;

  &_color1 {
    background: #E09D81;
    &:focus{
      border: 4px solid #B76D47 ;
  }
  }

  &_color2 {
    background: #CDC7B3;
    &:focus{
      border: 4px solid #B76D47 ;
  }
  }

  &_color3 {
    background: #595752;
    &:focus{
      border: 4px solid #B76D47 ;
  }
  }
}

.colors-body-4{
  width: 220px;

  &_color1 {
    background: #748EA1;
    &:focus{
      border: 4px solid #6E6259;
  }
  }

  &_color2 {
    background: #7D836E;
    &:focus{
      border: 4px solid #CCBD9E;
  }
  }

  &_color3 {
    background: #C33636;
    &:focus{
      border: 4px solid #CCBD9E;
  }
  }

  &_color4 {
    background: #CDC7B3;
    &:focus{
      border: 4px solid #6E6259;
  }
  }

  &_color5 {
    background: #595752;
    &:focus{
      border: 4px solid #6E6259;
  }
  }

  &_color6 {
    background: #D3C2CA;
    &:focus{
      border: 4px solid #6E6259;
  }
  }
}

//DirtyDishes-block
.dirtydishes {
    background-color: #F5F1E9;
    max-width: 1440px;
    margin: 0 auto;

  &__body {
    margin: 0 -48px 0 -48px;
    display: flex;
    justify-content: space-between;
    @media(max-width:$breakpoints768){
      flex-wrap: wrap;
      margin: 0 -20px;
    }
  }

  &__image {
    flex: 1 1 33.333%;
    width: 33.333%;
    height: 33.333%;
    @media(max-width:$breakpoints768){
      flex: 1 1 50%;
      width: 50%;
      height: 50%;
      order: 2;
    }
  }
                          //Text Block
  &__text-block {        
    flex: 1 1 33.333%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(max-width:$breakpoints992){
      padding: 20px 20px;
    }
    @media(max-width:$breakpoints768){
      order: 1;
      flex: 1 1 100%;
      height: 300px;
      padding: 50px 20px;
    }

    &_tag {
      font-family: 'Roboto';
      font-size: 11px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #35312E;
    }

    &_title {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 24px;
      line-height: 46px;
      text-align: center;
      letter-spacing: 1px;
      color: #35312E;
      @media(max-width:$breakpoints992){
        font-size: 18px;
        line-height: 26px;
      }
    }

    &_btc {
      display: inline;
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      & a{
        display: inline-block;
        padding: 20px 40px;
        border: 1px solid #AAA098 ;
        border-radius: 4px;
        background: #FFFFFF;
        text-decoration: none;
        color: #4F463F;
        transition: .5s;
        &:hover{
          background: #B55900;
          color: #fff;
          border-radius: 8px;
        }
      }
    }
  }
}

//Contakt-block
.contakt {
    background-color: #6C674D;
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 0;
    @media(max-width:650px){
      padding: 50px 0;
    }

  &__body {
    display: flex;
    justify-content: space-between;
    @media(max-width:$breakpoints768){
      margin: 0 -10px;
    }
    @media(max-width:650px){
      flex-direction: column;
      
    }
  }

  &__form {
    width: 45%;
    @media(max-width:$breakpoints768){
      width: 35%;
    }
    @media(max-width:650px){
      width: 100%;
    }

    &_title {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 23px;
      letter-spacing: 0.7px;
      color: #F5F1E9;
      @media(max-width:650px){
        text-align: center;
      }
    }

    &_text {
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 24px;
      color: #FCFAF6;
      padding: 30px 0 60px 0;
      @media(max-width:650px){
        text-align: center;
        padding: 30px 10%;
      }
      @media(max-width:$breakpoints488){
        padding: 30px 0;
      }
    }

    &_body{
      @media(max-width:650px){
        display: flex;
        justify-content: center;
        padding: 0 0 50px 0;
      }
    }

    &_input{
      width: 30vw;
      height: 60px;
      border-radius: 4px;
      padding: 0 0 0 20px;

      font-family: 'Roboto';
      font-weight: bold;
      font-size: 13px;
      line-height: 58px;
      letter-spacing: 0.7px;
      color: rgba(0, 0, 0, 0.5);
      @media(max-width:$breakpoints768){
        width: 35vw;
      }
      @media(max-width:650px){
        width: 50vw;
      }
      @media(max-width:$breakpoints488){
        width: 70vw;
      }
      
    }

    &_btc{
      margin: 0 0 0 -80px;
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      color: #4F463F;
      background: none;
      transition: .5s;
      &:hover{
        color: #B55900;
      }
      @media(max-width:$breakpoints768){
        margin: 0 0 0 -60px;
      }
    }
  }

  &__links {
    width: 45%;
    display: flex;
    justify-content: space-between;
    @media(max-width:$breakpoints992){
      width: 50%;
    }
    @media(max-width:$breakpoints768){
      width: 60%;
    }
    @media(max-width:650px){
      width: 100%;
      justify-content: space-around;
      padding: 0 10%;
    }
    @media(max-width:$breakpoints488){
      padding: 0;
    }
  }

  &__link-colum {

    &_title {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #F5F1E9;
    }

    &_text {
      display: block;
      font-family: 'Roboto';
      font-size: 16px;
      line-height: 31px;
      color: rgba(245, 241, 233, 0.6);
      padding: 9px 0 0 0;
      transition: .5s;
      &:hover{
        color: #F5F1E9;
      }
      @media(max-width:$breakpoints992){
        font-size: 14px;
      }
      @media(max-width:$breakpoints768){
        font-size: 12px;
      }
    }
  }
}

.copyright {
  background-color: #807C62;
  max-width: 1440px;
  margin: 0 auto;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    @media(max-width:$breakpoints768){
      flex-wrap: wrap;
      padding: 20px 0;
      height: 100%;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &__name {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 27px;
    color: rgba(252, 250, 246, 0.5);
    @media(max-width:$breakpoints768){
      order: 2;
      padding: 20px 0 0 0;
    }
  }

  &__terms {
    @media(max-width:$breakpoints768){
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      order: 1;
    }
    
    &_link {
      display: inline-block;
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 27px;
      color: rgba(252, 250, 246, 0.5);
      padding: 0 30px 0 0;
      transition: .5s;
      &:hover{
        color: #F5F1E9;
      }
      &:last-child{
        padding: 3px 15px 0px;
        background: #fff;
        border-radius: 5px;
      }
      
    }
  }
}


