@import "null.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



.container {
    max-width: 1440px;
    padding: 0 48px;
    margin: 0 auto;
    @media(max-width:$breakpoints768){
      padding: 0 20px;  
    }
    @media(max-width: $breakpoints488){
        padding: 0 28px;
    }
    @media(max-width: $breakpoints375){
        padding: 0 18px;
    }
}


// Header
.shipping {
    height: 40px;
    width: 100%;
    background: #F0EEDD;
    display: flex;
    align-items: center;

    &__title {
        font-family:'Roboto';
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #670A18;
    }

// Menu Block    
}

.menu {
    height: 82px;
    align-items: center;
    

    &__body {
        padding: 25px 0;
        align-items: center;
        display: flex;
        justify-content: space-between;
        @media (max-width: 600px){
            flex-wrap: wrap;
        }
    }

    &__left {
        justify-items: left;
    }

    &__center {
    }

    &__item {
        font-family:'Roboto';
        font-weight: bold;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #35312E;
        padding: 0 0 0 35px;
        &:first-child{
            padding: 0;
        }
        transition: .5s;
        &:hover{
            color: #d44c1f;
        }
        

    }    
    
    &__shop {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        color: #F5F1E9;

        padding: 12px 15px;
        border-radius: 50%;
        background-color: #C87B5E;
        transition: .5s;
        &:hover{
            background: #d44c1f;  
            
        }
    }
}

.menu__shop_body{
    display: inline;
    padding: 0 0 0 15px;
}


// Skillet_block
.skillet {
    background-image: url(/img/bg-up.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    @media(max-width: $breakpoints1400){
        background-position: center;
    }
    @media(max-width: $breakpoints768){
        background-position: 30% 80%;
    }

    
    &__body {
        margin: 0 0 0 25%;
        @media(max-width: 1500px){
            margin: 0 0 0 20%;
        }
        @media(max-width: $breakpoints992){
            margin: 0 0 0 15%;
        }
        @media(max-width: $breakpoints768){
            margin: 0;
        }

    }

    &__sub-title {
        padding: 15% 0 10px 0 ;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 16px; 
        text-transform: uppercase;
        color: #35312E;
        @media(max-width: $breakpoints768){
            padding: 150px 0 10px 0;
            text-align: center;
        }
        @media(max-width: $breakpoints488){
            padding: 130px 0 30px 0;
            text-align: center;
        }
    }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 52px;
        letter-spacing: 1px;
        color: #35312E;

        @media(max-width: $breakpoints768){
            text-align: center;
        }
    }

    &__btc-body{
        padding: 58px 0 170px 0;
        @media(max-width: $breakpoints768){
            padding: 20px 0 150px 0;
            text-align: center;
        }
        @media(max-width: $breakpoints488){
            padding: 50px 0 120px 0;
            text-align: center;
        }
        
    }

    &__btc {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #FFFFFF;
        display: inline-flex;
        padding: 20px 30px;
        background: #D37657;
        border-radius: 5px;
        transition: .5s;
        &:hover{
            background: #d44c1f;  
            
            border-radius: 15px;
        }
        
    }
}

span {
    text-decoration-line: underline;
}

//Traditional
.traditional {
    background-color: #F5F1E9;
    padding: 45px 0;
    max-width: 1440px;
    margin: 0 auto;

    &__body {
        
    }

    &__title {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        color: #35312E;
        @media(max-width: $breakpoints768){
            padding: 0 0 20px 0;
        }
    }

    &__list {

        &_body {
            display: flex;
            justify-content: space-evenly;
            max-width: 1140px;
            margin: 0 auto;
            @media(max-width:900px){
                flex-wrap: wrap;
            }
            
        }

        &_item {
            padding: 40px 30px 0 30px;
            @media(max-width:900px){
                flex-wrap: wrap;
            }
        }

        &_imaging {
        }
    }
}

//Welcome-block
.welcome {
    background-color: #FCFAF6;
    padding: 120px 0;
    max-width: 1440px;
    margin: 0 auto;
    @media(max-width:$breakpoints768){
        padding: 74px 0;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        max-width: 1185px;
        margin: 0 auto;
        @media(max-width:$breakpoints768){
            flex-direction: column;
        }

    }

    &__title {
        max-width: 400px;
        margin: 0 auto;
        padding: 0 10% 0 0;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 41px;
        line-height: 46px;
        text-align: center;
        letter-spacing: 1.25px;
        color: #35312E;
        @media(max-width:$breakpoints768){
            padding: 0;
        }
        
    }

    &__text {
        max-width: 650px;
        margin: 0 auto;
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 26px;
        color: #4F463F;
        @media(max-width:$breakpoints768){
            padding: 40px 0 0 0;
            text-align: center;
        }
    }
}

//Designed-block
.designed {
    background-color: #FBF6EA;
    padding: 74px 0 140px 0;
    max-width: 1440px;
    margin: 0 auto;
    @media(max-width:$breakpoints768){
        padding: 74px 0 74px 0;
        
    }

    &__body {
      
    }

    &__title {
        font-family: 'Roboto';
        font-size: 35px;
        line-height: 48px;
        text-align: center;
        color: #35312E;
    }

    &__colors {
        padding: 52px 0 45px 0;
        max-width: 345px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &_orange {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #E09D81;
            transition: .2s;
            &:focus{
                border: 4px solid #B76D47 ;
            }
        }

        &_blue {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #748EA1;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
            
        }

        &_brown {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #B76D47;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
        }

        &_green {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #7D836E;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
        }

        &_red {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #C33636;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
        }

        &_wheat {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #CDC7B3;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
        }

        &_dark-green {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #595752;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
        }

        &_orchid {
            display: block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #D3C2CA;
            transition: .2s;
            &:focus{
                border: 4px solid #E09D81 ;
            }
        }
    }


//Skillet colors gallery
    &__image {
        display: flex;
        justify-content: center;
        

        &_img {
            width: 50%;
            @media(max-width:$breakpoints768){
              width: 65%;  
            }
            @media(max-width:$breakpoints488){
              width: 100%;
              margin: 0 0 0 15%;
            }
        }

        &_img-orange {
            
        }
        &_img-blue {
          display: none;
        }

        
        &_description-l {
            width: 33%;
            font-family: 'Roboto';
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
            color: #6E6259;
            @media(max-width:$breakpoints768){
              width: 25%;  
              @media(max-width:$breakpoints488){
                display: none; 
              }
            }

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            :first-child{
              padding: 15% 0 70% 0;
              width: 134px;
              margin: 0 -35px 0 0;
              @media(max-width:$breakpoints768){
                padding: 15% 0 100% 0;
              }
            }
            :nth-child(2) {
              width: 107px; 
              margin: 0 -25px 0 0;
              
            }
            :nth-child(3) {
              padding: 20% 0 0 0;
              width: 172px; 
              margin: 0 -15px 0 0;
              @media(max-width:$breakpoints768){
                padding: 100% 0 0 0;
                margin: 0 -40px 0 0;
              }
            }
        }

        &_description-r {
            width: 17%;
            font-family: 'Roboto';
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            text-transform: uppercase;
            color: #6E6259;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media(max-width:$breakpoints992){
              align-items: center;
            }
            @media(max-width:$breakpoints768){
              width: 10%;  
            }
            @media(max-width:$breakpoints488){
              display: none; 
            }
            

            :first-child{
              padding: 15% 0 100% 0;
              width: 158px;
              margin: 0 0 0 -150px;
              @media(max-width:$breakpoints768){
                padding: 15% 0 250% 0;
              }
            }
            :nth-child(2) {
              width: 171px; 
              margin: 0 0 0 -175px;
              @media(max-width:$breakpoints768){
                margin: 0 0 0 -125px;
              }
            }
            :nth-child(3) {
              padding: 100% 0 0 0;
              width: 160px; 
              margin: 0 0 0 -105px;
              @media(max-width:$breakpoints768){
                padding: 270% 0 0 0;
              }
            }
        }
    }
}







